<p><%= t :'user_mailer.hello' %> <%= @account.name %>,</p>
<p>
  <%= t :'user_mailer.reset_password.content', :time => Time.now %>:
</p>
<p>
  <%= link_to edit_password_url(:token => @account.password_reset_token) do %>
    <%= "#{edit_password_url(:token => @account.password_reset_token)}".html_safe %>
  <% end %>
</p>
<p>
  <%= t :'user_mailer.reset_password.footnote' %>
</p>
