<div class="new-comment">
  <%= text_field_tag "fake-input", nil, :placeholder => "#{t :leave_a_message?}" %>
  <%= form_for @comment = @commentable.comments.build(), :html => {:style => "display:none;"},
               :remote => true do |f| %>
    <div class="comment-header">
      <%= link_to user_profile_path(current_user) do %>
        <%= image_tag current_user.avatar.url(:thumb), :class => "avatar" %>
        <span><%= current_user.name %></span>
      <% end %>
    </div>
    <div class="comment-body">
      <%= f.text_field :text, :placeholder => "@#{@post.user.name}" %>
    </div>
    <div class="comment-actions">
      <%= f.hidden_field :commentable_id %>
      <%= f.hidden_field :commentable_type %>
      <%= f.submit "#{t :reply}", :class => "btn", :disabled => true %>
    </div>
  <% end %>
</div>