<div class="comment hoverable post_<%= comment.id %>" id="comment_<%= comment.id %>">
  <div class="comment-holder">
    <div>
      <%= link_to user_path(comment.user), :class => "header" do %>
        <%= image_tag comment.user.avatar.url(:thumb), :class => "avatar" %>
        <%= comment.user.name %>
      <% end %>
      <span class="content"><%= comment.text.html_safe %></span>
    </div>
    <%= render 'shared/post_actions', :post => comment, :not_expandable => true %>
  </div>
</div>