<div class="comment hoverable" id="comment_<%= comment.id %>">
  <div class="comment-holder">
    <%= time_label comment.created_at %>
    <div class="content">
      <%= link_to user_path(comment.user), :class => "header" do %>
        <%= image_tag comment.user.avatar.url(:thumb), :class => "avatar" %>
        <%= comment.user.name %>
      <% end %>
      <%= comment.text.html_safe %>
    </div>
    <div class="actions invisible show-on-hover align-right">
      <%= render "likes/show", :post => comment %>
      <span class="grey"> · </span>
      <%= my_link_to "#{t :reply}", "#", :icon => "icon-comment-alt", :class => "action-reply"  %>
      <% if current_user == comment.user %>
      <span class="grey"> · </span>
      <%= my_link_to nil, comment_path(comment), :icon => "icon-remove", 
                     :class => "action-delete grey", :remote => true,
                     :title => "#{t :delete}", :rel => "tooltip", :method => :delete  %>
      <% end %>
    </div>
  </div>
</div>