<%= simple_form_for @article do |f| %>
<div class="span8">
  <div class="inputs">
    <%= f.input :title, :required => true, :input_html => { :class => "span8" } %>
    <%= f.input :content, :required => true, :as => :text, :input_html => { :class => "redactor"} %>
  </div>
  <div class="form-actions">
    <div style="text-align:center;">
      <%= f.button :submit, "#{@article.published ? t('actions.republish') : t('actions.publish')}", :name => "publish", :class => "btn btn-success btn-wide" %>
      <%= f.button :submit, "#{@article.published ? t('actions.save') : t('articles.save_as_draft')}", :class => "btn btn-primary btn-wide"%>
      <%= link_to "#{t :'actions.cancel'}", root_path, :class => "btn btn-wide" %>
    </div>
  </div>
</div>
<div class="span4">
  <div class="inputs">
    <%= f.input :page_name, :placeholder => "#", :input_html => { :class => 'span2'} %>
    <%= f.input :description, :input_html => { :class => 'span4'},
                :placeholder => "#{t :'articles.post_placeholder'}" %>
  </div>
</div>
<% end %>