<div class="article" id="article_<%= @article.id %>">
  <div class="header page-header no-border">
    <h2>
      <%= @article.title %>
      <%= time_label @article.created_at %>
    </h2>
  </div>
  <div class="content">
    <%= @article.content.html_safe %>
  </div>
  <% post = @article.post %>
  <%= render 'shared/post_actions', :post => post, :time_ago_in_words => false %>
  <%= render 'comments/index', :post => post, :full_mode => true %>
</div>