<li class="hoverable pinable <%= "unread" unless notification.read %>" id="notification_<%= notification.id %>">
  <% case notification.notifier_type %>
  <% when "Post" %>
    <% post = notification.notifier %>
    <%= link_to post_path(post, :notice => notification.id), :class => "notification", :remote => true do %>
      <div>
        <%= image_tag post.user.avatar.url(:thumb) %>
        <%= post.user.name %>
        <%= time_label post.created_at %>
      </div>
      <p>
        <% if post.is_repost? && 
              post.ancestor.user == notification.user %>
          <%= repost_notification(post) %>
        <% elsif post.is_comment? &&
              post.parent.user == notification.user %>
          <%= comment_notification(post) %>
        <% else %>
          <%= post_notification(post) %>
        <% end %>
      </p>
    <% end %>
  <% when "Mention" %>
    <% mention = notification.notifier %>
    <% post = mention.post %>
    <%= link_to post_path(post, :notice => notification.id), :class => "notification", :remote => true do %>
      <div>
        <%= image_tag post.user.avatar.url(:thumb), :class => "small-thumb" %>
        <%= post.user.name %>
        <%= time_label mention.created_at %>
      </div>
      <p><%= mention_notification(post) %></p>
    <% end %>
  <% when "Like" %>
    <% like = notification.notifier %>
    <% post = like.post %>
    <%= link_to post_path(post, :notice => notification.id), :class => "notification", :remote => true do %>
      <div>
        <%= image_tag post.user.avatar.url(:thumb), :class => "small-thumb" %>
        <%= post.user.name %>
        <%= time_label like.created_at %>
      </div>
      <p><%= like_notification(post) %></p>
    <% end %>
  <% end %>
</li>