<%= form_for resource, :as => resource_name, 
											 :url => session_path(resource_name), 
											 :html => { :class => "navbar-form pull-right" } do |f| %>
  <%= f.text_field :email, :autofocus => true, 
                           :class => "span2", 
                           :placeholder => "#{t :email}" %>
  <%= f.password_field :password, :class => "span2", 
                                  :placeholder => "#{t :password}" %>
  <label><%= f.check_box :remember_me %><%= t :remember_me %></label>
  <%= f.submit "#{t :sign_in}", :class => "btn btn-primary" %>
  <%= link_to "#{t :forgot_password}", new_user_password_path, :remote => true %>
<% end %>
