<div class="post-actions post_<%= post.id %>">
  <% if local_assigns[:time_ago_in_words].nil? || local_assigns[:time_ago_in_words]  %>
    <%= time_label post.created_at %>
  <% else %>
    <%= time_label post.created_at, false %>
  <% end %>
  <div class="pull-right">
    <%= like_label post %>
    <ul class="<%= "show-on-hover" if local_assigns[:not_expandable].nil? %>">
      <li class="flippable <%= "flipped" if post.liked_users.include?(current_user) %>">
        <%= link_to like_post_path(post), :remote => true, :method => :post,
                    :class => "action-like flipdown on-click" do %>
          <b class="icon-heart-empty"></b>
          <span><%= t 'actions.like' %></span>
        <% end %>
        <%= link_to like_post_path(post), :remote => true, :method => :delete,
                    :class => "action-dislike flipup on-click" do %>
          <b class="icon-heart"></b>
          <span><%= t 'actions.like' %></span>
        <% end %>
      </li>
      <li><span class="grey">·</span></li>
      <li>
        <%= link_to repost_post_path(post), :remote => true do %>
          <b class="icon-share-alt"></b>
          <span><%= t :'actions.repost' %></span>
        <% end %>
        <%= post_stat("num-reposts", post.reposts_count) %>
      </li>
      <li><span class="grey">·</span></li>
      <li>
        <%= link_to '#', :class => "action-comment" do %>
          <b class="icon-comment<%= "-alt" if post.comments.length == 0 %>"></b>
          <span><%= t :'actions.reply' %></span>
        <% end %>
        <%= post_stat("num-comments", post.comments.length) %>
      </li>
    </ul>
  </div>
  <div class="clear-float"></div>
</div>