<% closed_mode = (post.comments.length == 0) if local_assigns[:closed_mode].nil? %>
<div class="post post_<%= post.id %> pinable hoverable expandable <%= "expanded" unless closed_mode %>">
  <div class="post-content">
    <div class="post-header">
      <a>
        <%= image_tag post.user.avatar.url(:thumb), :class => "avatar pin-top7-left5" %>
        <strong><%= post.user.name %></strong>
        <% if current_user == post.user %>
          <%= my_link_to nil, post_path(post), :icon => "icon-remove", 
                         :method => :delete, :remote => true, 
                         :class => "pull-right show-on-hover" %>
        <% end %>
      </a>
    </div>
    <div class="post-body">
      <%= post.text.html_safe %>
      <% if post.entity_type == "Article" %>
        <% article = post.entity %>
        <blockquote>
          <% if article %>
            <%= link_to article.preview_title, article_path(article) %>
            <p><%= article.preview %></p>
          <% else %>
            <p><%= t :'articles.no_longer_exists'%></p>
          <% end %>
        </blockquote>
      <% end %>
    </div>
    <%= render 'shared/post_actions', :post => post %>
  </div>
  <div class="post-details well" <%= "style=\"display:none;\"".html_safe if closed_mode %>>
    <div class="post-comments">
      <%= render 'comments/index', :post => post %>
    </div>
  </div>
</div>
