<div class="subnav">
  <ul class='nav nav-pills'>
    <li class="dropdown have-carets">
      <%= my_link_to "#{t :'home.new-post'}", "#", :icon => 'icon-share-alt', :caret => true,
                     :class => "dropdown-toggle", :'data-toggle' => "dropdown" %>
      <div class="dropdown-menu span7">
        <div class="new-post">
          <%= form_for current_user.posts.build, :remote => true do |f| %>
          <%= word_count 140 %>
          <%= f.text_area :text,
                         :placeholder => "#{t :'home.want_to_say'}", 
                         :class => "input" %>
          <div class="actions">
            <%= f.submit "#{t :publish}", :class => "btn btn-wide pull-right", :disabled => true %>
            <%= f.submit "#{t :publish}", :class => "btn btn-wide pull-right ready btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </li>
    <li><%= my_link_to "#{t :'home.new-pictures'}", nil, :icon => 'icon-picture' %></li>
    <li><%= my_link_to "#{t :'home.new-article'}", new_article_path, :icon => 'icon-pencil' %></li>
    <li><%= my_link_to "#{t :'home.new-page'}", new_page_path, :icon => 'icon-file' %></li>
  </ul>
</div>