<% if @page.has_posters || controller.action_name == "new" %>
  <% if @page.posters %>
  <% else %>
    <div class="carousel slide" id="page_has_posters_display">
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag "carousel-example-01.jpg" %>
          <div class="carousel-caption">
            <h3><%= t :poster_header1 %></h3>
            <p><%= t :poster_content1 %></p>
          </div>
        </div>
        <div class="item">
          <%= image_tag "carousel-example-02.jpg" %>
          <div class="carousel-caption">
            <h3><%= t :poster_header2 %></h3>
            <p><%= t :poster_content2 %></p>
          </div>
        </div>
      </div>
      <a class="carousel-control left" href="#page_poster_display" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#page_poster_display" data-slide="next">&rsaquo;</a>
    </div>
  <% end %>
<% end %>