<div class="friend_buttons">
  <% if @user.friends.include?(current_user) %>
    <%= render :partial => 'friendships/starts_at', :user => @user %>
  <% elsif @user.friend_events.exists?(:trigger_id => current_user.id, :event_type => "request") %>
    <%= render :partial => 'follows/requested' %>
  <% elsif event = current_user.friend_events.where(:trigger_id => @user.id, :event_type => "request").first %>
    <%= link_to "#{t :accept_friend_request}", user_friendship_path(event.trigger, :event_id => event.id), 
                :method => :post, :class => "btn btn-info", :remote => true %>
    <%= my_link_to "#{t :unfollow}", user_follow_path(@user),
                   :class => "btn btn-warning",
                   :remote => true, :method => :delete %>
  <% elsif @user.followers.include?(current_user) %>
    <%= render :partial => 'follows/request_or_unfollow' %>
  <% else %>
    <%= render :partial => 'follows/follow' %>
  <% end %>
</div>
