<% size = user.friends.size %>
<% if size > 0 %>
  <p>
    <h4>
      <% if user == current_user %>
        <%= "#{t :my}#{t :friends}" %>
      <% else %>
        <%= "#{t :his}#{t :friends}" if user.is_male? %>
        <%= "#{t :her}#{t :friends}" if !user.is_male? %>
      <% end %>
      <small><%= user.friends.size %><%= t :people %></small>
    </h4>
  </p>
  <div>
    <% for friend in user.friends do %>
      <%= my_link_to user_profile_path(friend) do %>
        <%= image_tag friend.avatar.url(:thumb), :class => "montage", :rel => "tooltip", :title => friend.name %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p><%= t :no_friends %></p>
<% end %>