<%= yield :floatbar if content_for?(:floatbar) %>
<div class="page row" id="<%= @page.id %>">
  <div class="span8">
    <%= page_section "header", @editable %>
      <%= render 'header', :page => @page %>
    <% end %>
    <div class="front">
      <% case @page.category %>
      <% when "movie" %>
        <%= page_section "movie", @editable do %>
          <%= render @page.movie %>
        <% end %>
      <% when "book" %> 
        <%= page_section "book", @editable do %>
          <%= render @page.book %>
        <% end %>
      <% when "news" %>
        <%= page_section "news", @editable do %>
          <%= render @page.news %>
        <% end %>
      <% when "album" %>
        <%= page_section "album", @editable do %>
          <%= render @page.album %>
        <% end %>
      <% when "song" %>
        <%= page_section "song", @editable do %>
          <%= render @page.song %>
        <% end %>
      <% end %>
    </div>
    <div class="main">
    </div>
  </div>
  <div class="span4 side">
    <%= yield(:status_bar) if content_for?(:status_bar) %>
    <%= render "posts/new", :post => current_user.posts.build, :placeholder => "##{@page.title}",
                            :title => "#{t :say_something_about_page, :page => @page.title}" %>
    <%= image_tag @page.image %>
    <%= page_section "properties", @editable do %>
      <%= render 'pages/properties' %>
    <% end %>
  </div>
</div>