<div class="page row" id="<%= @page.id %>">
  <div class="span8">
    <%= page_section "header", @editable do %>
      <%= render 'pages/header' %>
    <% end %>
    <div class="front">
      <%= page_section "billboard", @editable do %>
        <%= render 'billboard/show', :page => @page %>
      <% end %>
      <%= page_section "posters", @editable do %>
        <%= render 'posters/show', :page => @page %>
      <% end %>
      <%= page_section "whiteboard", @editable do %>
        <%= render 'whiteboard/show', :page => @page %>
      <% end %>
    </div>
    <div class="main">
      <%= page_section "articles", :editable => false do %>
        <h1><%= t :page_articles %></h1>
        <%= render 'articles', :articles => @page.hot_articles %>
      <% end %>
    </div>
  </div>
  <div class="span4 side">
    <%= yield(:status_bar) if content_for?(:status_bar) %>
    <%= render "posts/new", :post => current_user.posts.build, :placeholder => "##{@page.title}",
                            :title => "#{t :say_something_about_page, :page => @page.title}" %>
    <%= page_section "image", @editable do %>
      <%= image_tag @page.image %>
    <% end %>
    <%= page_section "properties", @editable do %>
      <%= render 'pages/properties' %>
    <% end %>
    <%= page_section "events", :editable => false do %>
      <%= render 'events/index', :events => @page.events.limit(20) %>
    <% end %>
  </div>
</div>