<div class="row">
  <div class="span8">
    <div id="page_header" class="page-header page-component">
      <% if @editable %>
        <%= hidden_edit_button "header", edit_page_path(@page) %>
      <% end %>
      <div id="page_header_show">
        <%= render "pages/header" %>
      </div>
    </div>
    <div id="page_main_section">
      <div class="hero-unit page-component" id="page_has_billboard_display">
        <%= render "billboards/show" %>
      </div>
      <%= render "posters" %>
    </div>
  </div>
  <div class="span4">
    <div id='page_side_section'>
      <div class="page-component" id="page_has_image_display">
        <%= render "images/show" %>
      </div>
      <div class="page-component" id="page_has_properties_display">
        <%= render "properties" %>
      </div>
    </div>
  </div>
</div>