<div class="row">
  <div class="span8">
    <div id="page_header" class="page-component">
      <% if @editable %>
        <%= hidden_edit_button "header", edit_page_path(@page, :component => "header") %>
      <% end %>
      <div class="page-header" id="page_header_show">
        <%= render "header" %>
      </div>
    </div>

    <div id="page_main_section">
      <%= render 'component', :selector => "has_billboard", :name => "billboard" %>
      <%= render 'component', :selector => "has_posters", :name => "posters" %>
      <%= render 'component', :selector => "has_whiteboard", :name => "whiteboard" %>
    </div>
    <div id="page_child_section">
      <%= render 'subpages' %>
    </div>
  </div>
  <div class="span4">
    <div id='page_side_section'>
      <% if @editable %>
        <div class="well">
          <%= link_to nil, :class => "btn", 
                           :'data-toggle' => "modal", 
                           :'data-target' => "#page_destroy_modal" do %>
            <i class="icon-remove"></i><%= " #{t :delete}" %>
          <% end %>
          <%= content_for(:modal) { render 'destroy' } %>
        </div>
      <% end %>
      <div id="action_bar"><%= yield(:action_bar) if content_for?(:action_bar) %></div>
      <%= @post = current_user.posts.build; 
          @placeholder = "##{@page.title}"; 
          render "posts/new" %>
      <%= render 'component', :selector => "has_image", :name => "image" %>
      <%= render 'component', :selector => "has_properties", :name => "properties" %>
    </div>
  </div>
</div>