<%= content_tag :div, :class => "modal fade", 
 											:id => "page_destroy_modal" do %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= t :page_deletion_confirmation %></h3>
  </div>
  <div class="modal-body">
    <p style="padding-left: 100px;">
      <%= t :are_you_sure_deleting_page1 %><br />
      <%= t :are_you_sure_deleting_page2 %>
    </p>
    <p>
      
    </p>
  </div>
  <div class="modal-footer">
		<div class="actions">
			<%= link_to "#{t :okay}", @page, :method => :delete, :class => "btn btn-danger" %>
    	<a href="#" class="btn" data-dismiss="modal"><%= t :cancel %></a>
	  </div>
  </div>
<% end %>