<% @modal_name = "page_modal" %>

<%= simple_form_for @page, :html => {:class => "form-horizontal"}, 
                           :remote => true do |f| %>
  <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal">×</button>
   <h3><%= t :edit_page_title_and_intro %></h3>
  </div>
  <div class="modal-body">
   <div class="inputs">
     <%= f.input :title %>
     <%= f.input :intro %>
   </div>	
  </div>
  <div class="modal-footer">
  	<div class="actions">
  		<%= f.button :submit, "#{t :save}", :class => "btn-primary" %>
   	  <a href="#" class="btn" data-dismiss="modal"><%= t :cancel %></a>
    </div>
  </div>
<% end %>
