<% @modal_name = "properties_modal" %>

<div id="properties_modal_content">
  <%= simple_form_for @page, :html => { :class => "form-inline" }, :remote => true do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3><%= t :properties_edit_title %></h3>
      <%= hidden_field_tag :component, "properties" %>
    </div>
    <div class="modal-body">
      <table class="table-condensed">
        <tbody>
          <%= f.fields_for :properties do |builder| %>
            <%= render 'property_fields', :f => builder %>
          <% end %>
          <tr id="add_attribute">
            <td>
              <%= link_to_add_association f, :properties, 
                        :render_options => { :wrapper => 'inline' },
                        :"data-association-insertion-node" => "#add_attribute",
                        :"data-association-insertion-method" => "before",
                        :class => "btn" do %>
                <i class="icon-plus"></i>&nbsp;<%= t :add %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
    	<div class="actions">
    		<%= f.submit "#{t :save}", :class => "btn btn-primary" %>
      	<a href="#" class="btn" data-dismiss="modal"><%= t :cancel %></a>
      </div>
    </div>
  <% end %>
</div>
