<% if @editable %>
  <%= hidden_edit_button "properties", edit_page_path(@page, :component => "properties") %> 
<% end %>
<div id="page_properties_show">
  <% if controller.action_name == "new" || (@page.has_properties && @page.properties.empty?) %>
    <p>
      <div>
        <strong><%= t :attribute1 %></strong>:&nbsp;
        <span><%= t :attribute_value1 %></span>
      </div>
      <div>
        <strong><%= t :attribute2 %></strong>:&nbsp;
        <span><%= t :attribute_value2 %></span>
      </div>
    </p>
  <% elsif @page.has_properties %>
    <p>
      <% for attribute in @page.properties %>
      <div>
        <strong><%= attribute.label %></strong>:&nbsp;
        <span><%= attribute.value %></span>
      </div>
      <% end %>
    </p>
  <% end %>
</div>




