<% @modal_name = "whiteboard_modal" %>
<% @whiteboard = @page.whiteboard ? @page.whiteboard : @page.build_whiteboard %>

<%= simple_form_for(@whiteboard, :url => page_whiteboard_path(@page), 
                                :html => { :class => "form-horizontal", :method => :put }, 
                                :remote => true ) do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= t :whiteboard_edit_title %></h3>
  </div>
  <div class="modal-body">
      <div class="inputs">
        <%= f.input :title, :input_html => { :class => "input-small" } %>
        <%= f.input :text, :input_html => { :class => "input-xlarge", :rows => 8 } %>
      </div>	
  </div>
  <div class="modal-footer">
  	<div class="actions">
  		<%= f.button :submit, "#{t :save}", :class => "btn-primary" %>
    	<a href="#" class="btn" data-dismiss="modal"><%= t :cancel %></a>
    </div>
  </div>
<% end %>