<div class="page" id="page_<%= @page.id %>">
  <%= render 'shared/messages' %>
  <div class="row">
    <div class="span8 page-main">
      <div class="page-header no-margin-top">
        <div class="row">
          <div class="span6">
            <h2 class="title">
              #<%= @page.title %>
              <% if @page.followed_users.size > 0 %>
              <small><%= "#{@page.followed_users.size}#{t('pages.people_has_followed')}" %></small>
              <% end %>
            </h2>
          </div>
          <div class="span2 button">
            <% if current_user == @page.user %>
              <%= my_link_to "#{t 'actions.edit'}", edit_page_path(@page), 
                             :icon => "icon-pencil", 
                             :class => "btn btn-info" %>
            <% else %>
              <%= page_follow_button(@page) %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="info">
        <% case @page.category %>
        <% when "movie" %>
          <%= render "movie", :movie => @page.movie %>
        <% when "book" %>
          <%= render "book", :book => @page.book %>
        <% when "album" %>
          <%= render "album", :album => @page.album %>
        <% end %>
      </div>
      <div class="page-section">
        <h3><%= t 'pages.galleries', :name => @page.title %></h3>
        <ul class="galleries">
          <% for gallery in @page.galleries do %>
            <li class="gallery">
              <div class="caption">
                <h4>
                  <%= gallery.title %>
                  <small>
                    <%= t 'pictures.num_pictures_in_gallery', :num => gallery.pictures.length %>
                    <%= t 'pages.from' %>: <%= link_to gallery.user.name, user_path(gallery.user) %>
                  </small>
                </h4>
              </div>
              <%= gallery_show(gallery) %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="page-section">
        <h3><%= t 'pages.articles', :name => @page.title %></h3>
        <div class="articles">
          <% if @page.articles.length > 0 %>
            <% for article in @page.articles %>
              <%= render 'articles/preview', :article => article %>
            <% end %>
          <% else %>
            <p class="muted"><%= t :'pages.no_articles', :name => @page.title %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="span4 page-side">
      <div class="new-post">
      <%= render 'posts/new', :post => current_user.posts.build, 
                              :placeholder => "##{@page.title}", 
                              :title => "#{t 'posts.about_page_what_do_you_want_to_say?', 
                                             :name => @page.title}" %>
      </div>
      <%= render 'shared/stream', :posts => @page.posts, :stream => true %>
    </div>
  </div>
</div>
