<li class="pinable hoverable" id="mention_event_<%= event.id %>">
  <% unless event.consumed %>
    <%= my_link_to nil, mention_event_path(event.id), :method => :put, 
                        :remote => true, :badge => "NEW", :class => "new-badge" %>
  <% end %>
  
  <%= link_to "#{event.trigger.user.name}", user_profile_path(event.trigger.user, :me => event.id) %>

  <% case event.trigger_type %>
    <% when "Post" %>
      <span><%= t :mentioned_you_in_a_post %></span>
      <em class="grey"><%= t :ago, :time => time_ago_in_words(event.created_at) %></em>
    <% when "Comment" %>
      <span><%= t :mentioned_you_in_a_comment %></span>
      <em class="grey"><%= t :ago, :time => time_ago_in_words(event.created_at) %></em>
  <% end %>
  <%= my_link_to nil, mention_event_path(event), :icon => "icon-remove", 
                 :class => "grey show-on-hover pin-right8", :remote => true,
                 :method => :delete %>
</li>