<h2><%= t :create_new_password %></h2>
<p>
<%= simple_form_for(resource, :as => resource_name, 
                              :url => password_path(resource_name), 
                              :html => { :method => :put }) do |f| %>
  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="inputs">
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit, "#{t :okay}", :class => "btn-primary" %>
  </div>
<% end %>
</p>