<%= content_tag :div, :class => "modal hide", 
 											:id => "upload_picture_modal" do %>
  <%= simple_form_for @picture, :html => { :class => "form-horizontal", :method => :post },
   															:remote => true do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= t :'pictures.upload_new_picture' %></h3>
  </div>
  <div class="modal-body">
  	<div class="inputs">
  	  <div id="gallery_list">
  	   	<%= f.association :gallery, :collection => current_user.galleries, 
  	   	                  :prompt => t('pictures.default_gallery'),
  	   	                  :input_html => {:class => "input-medium"}, 
  	   	                  :wrapper_html => {:style => 'display:inline-block;'} %>
    		<%= t 'simple_form.or' %>
    		<%= link_to_add_association t('pictures.create_new_gallery'), f, :gallery %>
  	  </div>
  		<%= f.input :image, :as => :file %>
  		<%= f.input :remote_image_url %>
    </div>
  </div>
  <div class="modal-footer">
  	<div class="actions">
  		<%= f.button :submit, "#{t :'actions.upload'}", :class => "btn-primary" %>
  		<a href="#" class="btn" data-dismiss="modal"><%= t :cancel %></a>
  	</div>
  </div>
  <% end %>
<% end %>