<ul class="dropdown-menu-fb persist">
  <% @follows = user.unread_follows unless controller_name == 'follows' && action_name == 'index' %>
  <% if @follows.length > 0 %>
    <% for f in @follows do %>
      <%= render "follows/show", :follow => f %>
    <% end %>
  <% else %>
    <li><span><%= t :no_new_follows %><span></li>
  <% end %>
  <li class="footer">
    <% if controller_name == 'follows' && action_name == 'index' %>
      <span><%= t :has_displayed_all %></span>
    <% elsif @follows.length == 0 %>
      <%= link_to "#{t :display_all}", user_follows_path(user), :remote => true %>
    <% else %>
      <%= link_to "#{t :mark_all_as_read}", update_all_user_follows_path(user), :remote => true, :method => :put %>
    <% end %>
  </li>
</ul>