<li class="hoverable pinable <%= "color-background" unless follow.read %>" id="<%= follow.id %>">
  <%= link_to user_profile_path(follow.follower, :follow_id => follow.id), :class => "follow" do %>
    <div>
        <%= image_tag follow.follower.avatar.url(:thumb), :class => "small-thumb" %>
        <%= follow.follower.name %>
      <div class="grey pull-right">
        <%= t :ago, :time => time_ago_in_words(follow.created_at) %>
      </div>
    </div>
    <p>
      <%= follow_notification(follow) %>
    </p>
  <% end %>
  <div class="pin-top18-right15">
    <%= render 'shared/follow_button', :user => follow.follower unless follow.pair %>
  </div>
</li>