<% size = user.followers.size - user.friends.size %>
<% if size > 0 %>
  <p>
    <h4>
      <% if user == current_user %>
        <%= "#{t :my}#{t :followers}" %>
      <% else %>
        <%= "#{t :his}#{t :followers}" if user.is_male? %>
        <%= "#{t :her}#{t :followers}" if !user.is_male? %>
      <% end %>
      <small><%= user.followers.size - user.friends.size %><%= t :people %></small>
    </h4>
  </p>
  <div>
    <% for follower in (user.followers - user.friends) do %>
      <%= link_to user_profile_path(follower) do %>
        <%= image_tag follower.avatar.url(:thumb), :class => "montage" %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p><%= t :no_followers %></p>
<% end %>
