<%= content_tag :div, :class => "modal hide", 
 											:id => "repost_modal" do %>
  <%= simple_form_for @post, :url => posts_path,
                             :html => {:class => "form-horizontal", :method => :post}, 
                             :remote => true do |f| %>
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal">×</button>
     <h3><%= t :'posts.repost_title' %></h3>
     <%= f.hidden_field :ancestor_id %>
    </div>
    <div class="modal-body">
      <div class="new-post pinable">
        <div class="post-content">
          <div class="post-header">
            <%= link_to user_path(current_user) do %>
              <%= image_tag current_user.avatar.url(:thumb), :class => "avatar pin-top7-left5" %>
              <strong><%= current_user.name %></strong>
            <% end %>
            <em class="grey pull-right" style="display: none;">
              <span class="post-wordcount"></span>/140
            </em>
          </div>
          <div class="post-body">
            <%= f.text_area :text, :rows => 4, 
                            :placeholder => @placeholder, 
                            :class => "post-input max-width" %>
          </div>
        </div>
      </div> 
    </div> 
    <div class="modal-footer">
    	<div class="post-actions">
    	  <a href="#" class="btn" data-dismiss="modal"><%= t :cancel %></a>
    		<%= f.button :submit, "#{t :repost}", :class => "pull-right", :disabled => true %>
      </div>
    </div>
  <% end %>
<% end %>

