<% closed_mode = (post.comments.length == 0) %>
<div class="post pinable has_hidden_buttons <%= "hoverable" if closed_mode %>" id="post_<%= post.id %>">
  <div class="post-content">
    <div class="post-header">
      <a>
        <%= image_tag post.user.avatar.url(:thumb), :class => "avatar pin-top7-left5" %>
        <strong><%= post.user.name %></strong>
      </a>
      <%= time_label post.created_at %>
    </div>
    <p class="post-body">
      <%= post.text.html_safe %>
    </p>
    <div class="post-actions">
      <span>
        <%= link_to_with_icon "#{t :expand}", nil, "icon-caret-right", :class => "action-expand"  %>
        <%= link_to_with_icon "#{t :collapse}", nil, "icon-caret-down", 
                              :class => "action-collapse", :style => "display:none;"  %>
      </span>
      <ul class="pull-right show-on-hover <%= "invisible" if closed_mode %>">
        <li>
          <%= render 'likes/show', :post => post %>
        </li>
        <li><span class="grey">·</span></li>
        <li>
          <%= my_link_to "#{t :'actions.repost'}", repost_post_path(post), :icon => "icon-share-alt", 
                                         :remote => true %>
          <%= post_stat("num-reposts", post.reposts_count) %>
        </li>
        <li><span class="grey">·</span></li>
        <li>
          <%= my_link_to "#{t :'actions.reply'}", nil, :class => "action-comment",
                         :icon => "icon-comment#{ "-alt" if post.comments.length == 0}" %>
          <%= post_stat("num-comments", post.comments.length) %>
        </li>
        <% if post.user == current_user %>
          <li>
            <%= my_link_to "", post_path(post), :icon => "icon-remove", 
                               :class => "action-delete grey", 
                               :tooltip => "#{t :'actions.delete'}", :remote => true, 
                               :method => :delete%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="post-details well" <%= "style=\"display:none;\"".html_safe if closed_mode %>>
    <div class="post-comments">
      <%= render 'comments/index', :post => post %>
    </div>
  </div>
</div>
