<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<% if content_for?(:brand) %>
	<%= yield :brand %>
<% else %>
	<a class="brand" href="#"><%= t :app_name %></a>
<% end %>
<div class="nav-collapse">
	<% if user_signed_in? %>
  	<%= subscribe_to "/user/#{current_user.id}" %>
		<div class="pull-right">
		  <ul class="nav">
		    <%= form_tag "#", :class => "navbar-search pull-left", :method => :get do %>
    			<%= text_field_tag 'search', nil, :placeholder => "#{t :search_bar_placeholder}", 
    																				:class => "search-query" %>
    		<% end %>
		    <li class="divider-vertical"></li>
        <%= render "friend_events/index", :user => current_user %>
		    <li><%= my_link_to "", "#", :icon => "nav-at" %></li>
		    <li><%= my_link_to "", "#", :icon => "nav-about" %></li>
		    <li class="divider-vertical"></li>
		    <li class="pinable">
		      <%= link_to user_profile_path(current_user), :style => "margin-left: 25px;" do %>
		        <%= image_tag current_user.avatar.url(:thumb), :width => "30px", :height => "30px", :class => "pin-top7-left" %>
		        <%= current_user.name %>
		      <% end %>
		    </li>
        <li class="dropdown">
          <%= link_to "<b class=\"caret\"></b>".html_safe, "#", 
                         :"data-toggle" => "dropdown", :class => "dropdown-toggle" %>
   				<ul class="dropdown-menu">
   					<li><%= my_link_to "#{t :account_setting}", edit_user_registration_path, :icon => "icon-cog" %></li>
   					<li><%= my_link_to "#{t :logout}", destroy_user_session_path, :method => :delete, :icon => "icon-signout" %></li>
   				</ul>
        </li>
		  </ul>
		</div>
	<% else %>
	  <% unless controller.controller_name == "accounts" && controller.action_name == "new" %>
      <div class="nav pull-right">
        <%= link_to "#{t :sign_up}", new_user_registration_path, 
  	                                 :class => "btn btn-success" %>
      </div>
  	<% end %>
	  <% unless controller.controller_name == "sessions" && controller.action_name == "new" %>
	    <%= render 'shared/login' %>
	  <% end %>

	<% end %>
</div>