<%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put } do |f| %>
	<% unless current_user.username.blank? || current_user.errors[:username].any? %>
	<div>
		<label><%= t :personal_url_introduction %>:</label>
		<span><%= "http://#{request.env['HTTP_HOST']}/" %><strong><%= current_user.username %></strong></span>
	</div>
	<% end %>
	<%= f.input :username, :label => "#{t :new_username}", 
												 :required => true, 
												 :input_html => { :class => 'span2' } %>
	<%= hidden_field_tag :field, "username" %>
	<%= f.input :current_password, :label => "#{t :current_passowrd}", 
																 :hint => "#{t :why_current_password_is_needed}", :required => true %>
	<%= f.button :wrapped, :cancel => edit_user_registration_path(current_user) %>

<% end %>