<% if params[:edit] == "password" %>
<li class="password">
  <div class="edit">
    <div class="header"><%= t :'accounts.password' %></div>
    <div class="content">
      <%= simple_form_for @account, :html => { :class => 'form-horizontal compact' } do |f| %>
    	  <%= f.input :password, :label => "#{t :'accounts.new_password'}", 
      										     :required => true, 
      										     :input_html => { :class => 'span2' } %>
        <%= f.input :password_confirmation, :label => "#{t :'accounts.password_confirmation'}", 
     										       :required => true, 
     										       :input_html => { :class => 'span2' } %>
      	<%= hidden_field_tag :edit, "password" %>
      	<%= f.input :current_password, :label => "#{t :'accounts.current_password'}", 
      												 :hint => "#{t :'accounts.need_password_to_make_changes'}", 
      												 :required => true %>
      	<div class="actions">
      	<%= f.button :wrapped, :cancel => edit_account_path %>
      	</div>
      <% end %>
    </div>
  </div>
</li>
<% else %>
<li class="password">
  <%= link_to edit_account_path(:edit => "password"), :class => "show-icon-on-hover" do %>
    <span class="header"><%= t :'accounts.password' %></span>
    <span class="grey"><%= t :'accounts.password_set_at', :time => time_ago_in_words(@account.password_set_at) %></span>
    <span class="action"><i class="icon-pencil"></i><%= t :'actions.change' %></span>
  <% end %>
</li>
<% end %>