<% title "#{t :'accounts.account_setting'}" %>
<div class="span2 sidebar">
  <ul class="nav">
    <li class="active">
      <%= my_link_to "#{t :'accounts.general'}", edit_account_path, :icon => "icon-cog icon-large" %>
    </li>
    <li>
      <%= my_link_to "#{t :'accounts.security'}", edit_account_path(:setting => 'security'), :icon => "icon-bolt icon-large" %>
    </li>
    <li>
      <%= my_link_to "#{t :'accounts.notification'}", edit_account_path(:setting => 'notification'), :icon => "icon-bell icon-large" %>
    </li>
    <li>
      <%= my_link_to "#{t :'accounts.privacy'}", edit_account_path(:setting => 'privacy'), :icon => "icon-lock icon-large" %>
    </li>
  </ul>
</div>
<div class="span10 main">
  <%= render "shared/messages" %>
  <% partial_name = params[:setting] %>
  <% partial_name = "general" if partial_name.nil? %>
  <div class="page-header no-margin">
    <h2><%= t :"accounts.#{partial_name}" %></h2>
  </div>
  <%= render partial_name %>
</div>