<%= title "#{t :'accounts.title'}" %>
<%= render 'shared/messages' %>

<div class="span7">
	 &nbsp;
</div>
<div class="span5">
	<div class="hero-unit">
	  <div class="page-header">
	    <h2><%= t :'accounts.join_now' %></h2>
			<h3><%= t :'accounts.join_slogan' %></h3>
	  </div>
		<%= simple_form_for @account,
		                    :html => {:class => "form-horizontal compact"},
		                    :validate => true do |f| %>
			<%= f.input :email %>
			<%= f.input :password, :required => true, :validate => { :confirmation => false } %>
			
			<%= f.fields_for :user do |ff| %>
			  <%= ff.input :name %>
			  <%= ff.input :sex, :collection => [["#{t 'male'}", true], ["#{t 'female'}", false]], 
                          :required => true, :prompt => ["t :please_choose", nil],
         									:input_html => { :class => "span2" }%>
        <%= ff.input :date_of_birth, :as => :date, 
        														 :start_year => Date.today.year - 12, 
         														 :end_year => Date.today.year - 90,
         														 :prompt => true, :input_html => { :class => "span1" } %>
			<% end %>

		  <label class="control-label">&nbsp;</label>
		  <div class="form-actions">
		    <%= f.button :submit, "#{t :'accounts.signup'}", :class => 'btn-success btn-register' %>
		  </div>
		<% end %>
	</div>
</div>
